body {
  margin: 0;
  font-family: sans;
}


/* MAIN LAYOUT */
.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  /*margin: 5;*/
}
.header {
  flex: 0 1 auto;
  background: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  height: 2em;
}
.header > h2, .header > h1, .header > div {
  margin: 0;
}
.header > a {
  height: 70%;
}
.header > a:hover {
  background: lightblue;
}
.header > a > img {
  height: 100%;
}
.content {
  flex: 1 1 auto;
  padding: 5;
}
.content-flex {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 5;
}
.footer {
  flex: 0 1 10px;
  text-align: right;
}


/* CONTENT */
.wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
}
h2 {
  margin: 0;
}
.section {
  padding: 5;
}
.item {
  margin: 5 10;
  border: 1px solid;
  display: flex;
  height: 2em;
  align-items: center;
  column-gap: 5;
  color: black;
  text-decoration: none;
}
.item:hover {
  background: lightblue;
}
.item > * {
  padding: 5;
}
.item-title {
  text-wrap: nowrap;
  white-space: nowrap;
}
.item-sub {
  font-size: 0.7em;
}
.item-img {
  height: 2em;
}


/* CARD */
#card-root {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100%;
}
#card-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*justify-content: flex-start;*/
  align-items: center;
}
#card-menu {
  flex: 0 1 auto;
  display: flex;
}
#card-menu > * {
  flex: 1 1 auto;
  font-size: 2em;
}

/* OTHER */
.scales-picker {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.scales-picker > canvas {
  border: 1px solid;
}
#scales-picker-buttons {
  display: flex;
  justify-content: space-between;
}
#scales-picker-buttons > * {
  flex: 1 1 auto;
}

canvas {
  width: 90%;
}
.img {
  width: 90%;
}

/* EXERCICES */
/*.ex-title {
  text-align: center;
}*/
